.divContainer div{
    display: inline;
    font-size: 30px;
    border: 1px solid black; 
    padding: 25px 45px;
    border-radius: 60%;
    width: 160px;
    height: 160px;
    background-color: white;
	text-align: center;
}

.guesses div {
    display: inline;
    font-size: 30px;
    border: 1px solid black; 
    padding: 25px 45px;
   	border-radius: 60%;
    width: 160px;
    height: 200px;
    background-color: green;
}

.num {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-decoration: underline;
	border: 1px solid black;
	margin-right: 10px;
	background: green;
	font-size: 20px;
	color: 'white';
}

.nums {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 1px solid black;
	margin-right: 10px;
	background: yellow;
	font-size: 20px;
	color: 'white';
}


.knapp {
	height: 50px;
	width: 100px;
	bordehttps://www.w3schools.com/cssref/pr_charset_rule.aspr-radius: : 25px;
	background: red;
}

body {
    background-image: url('background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
